<div class="container">
    <h2 id="title">Welcome to AmazonClone</h2>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">

            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Shop by Department <span class="caret"></span></a>
                </ul>
            </div>
        </div>

    </nav>
</div>


{{outlet}}
