<div class="container">
  <h3>Can't find what you need?</h3>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">@</span>
    {{input type="text" class="form-control" value=searchString placeholder="Search for solutions..."}}
  </div>

</div>

{{outlet}}
