<div class="container">
    <h2 id="title">Welcome to AmazonClone</h2>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">

            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Shop by Department <span class="caret"></span></a>
                    </li>
                    <li><a href="#">Your AmazonClone.com</a></li>
                    <li><a href="#">Today's Deals</a></li>
                    <li><a href="#">Gift Cards</a></li>
                    <li><a href="#">Sell</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <button type="button" class="btn btn-default btn-lg">
                            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>

    </nav>
</div>


{{outlet}}
